<a href="https://colab.research.google.com/github/Diptyregar456/Python/blob/main/DATA_ANALYSIS_THROUGH_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PANDAS:**

> PANDAS we use for powerfull data structure-fest end efficient data wranglingg 
 item.(LIST) list is a data structure
 Data wrangling involves processing the data in various formats like - merging, grouping, concatenating etc. for the purpose of analysing or getting them ready to be used with another set of data.
DATA WRANGLING - merging, grouping , concatenating (the process of data in various formates.
Python has several methods are available to perform aggregations on data. It is done using the pandas and numpy libraries. The data must be available or converted to a dataframe to apply the aggregation functions.

Aggregations : it is a function we use for convert available data to dara frame.
pandas, numpy libraries that we use for dataframe

easy input and output data with writing to files from files 
list item

**SERIES**

> one dimension dataframe: TWO dimension panel: 3 dimension

# CREATING A PANDAS SERIES

> so here i will import pandas in this and will create a series from list.

In [ ]:
import pandas as pd #creating a pandas series
list1 = [1,2,3] #creating a series from list
#created a list
#creating a series from the list.
list1=[1,2,3]
list1=[1,2,3]
series1=pd.Series(list1)
print(series1)

In [ ]:
#creating series from numpy
import numpy as np
ind = ['a','b','c']
arr1 = np.array(list1)
#pd.series(data=arr1, index = ind)

In [ ]:
import pandas as pd
list1 = [1,2,3]
series1=pd.Series(list1)
print(series1)

In [ ]:
import numpy as np
ind = ['a','b','c']
arr1 = np.array(list1)
pd.Series(data=arr1,index=ind)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.random.randn(3,4)*10 #it is showing some random number in between 300 and 400 every time it changes when we execute the code.

**NUMPY WITH ONE DIMENSIONAL SERIES AND 2D SERIES**

In [ ]:
# if we want to convert list into array sepcifically we use numpy'
import numpy as np
list = np.array([1,2,3,4,5])
my_tuple = np.array((1,2,3,4,5), np.int32)
print(list)
print(my_tuple)
print(list.shape)
print(my_tuple.shape)

** 2D ARRAY WITH NUMPY**

In [ ]:
nd_arr = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]) #here i am creating 3d array
print(nd_arr)
print(nd_arr.shape) #using shape function to detrmine the array size 
print(nd_arr)

In [ ]:
nd_arr[0,1] #0 from column + 1 from column 2 #first is row and second is column

In [ ]:
nd_arr[0:3,0:2] #3 row 2 column

In [ ]:
nd_arr.shape

In [ ]:
nd_arr.sum()

In [ ]:
nd_arr.sum?

In [ ]:
#Broadcasting
a = np.array([10,-10]) #one dimenstional broadcasting
b = np.array([1,-1])
print(a)
print(b)
print(a+b)

In [ ]:
#2d broad casting
a = np.array([[10],[-10]])
b = np.array([[1,2],[-1,-2]])
print(a)
print(b)
print(a+b)
print(a+4)

In [ ]:
import pandas as pd
list1 = [1,2,3,4,5]
#series1 = pd.series(list1)
#print(series1)

AttributeError: ignored

In [ ]:
pd.series?