<a href="https://colab.research.google.com/github/Diptyregar456/Python/blob/main/data_anlysis_with_pandas_ipyng.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***PANDAS***

> pandas we use for data structure and data analysis tool. ither then also we this as to create aggregation function which helps to create data frames.
data structure is like list.

In [ ]:
import pandas as pd  #importing the pandas 
list = [1,2,3,4,5] #one dimentional series
pd.Series([1,2,3,4,5])
series1 = pd.Series([1,2,3,4,5])
print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
list = [1,2,3,4,5]
pd.Series

In [ ]:
#creating a pandas series #one dimensional
import pandas as pd 
list1 = [1,2,3]  #creating a list
series1 = pd.Series(list1) #series here is 0,1,2 (indices number)
print(series1)

0    1
1    2
2    3
dtype: int64

In [ ]:
import numpy as np
ind = ['a','b','c']
arr1 = np.array(list1)
pd.Series(data = arr1, index = ind)

a    1
b    2
c    3
dtype: int64

In [ ]:
import numpy as np
ind = [1,2,3]
arr1 = np.array(list1) #converting a list into array
pd.Series(data = arr1, index = ind) #connecting as series with pandas

1    1
2    2
3    3
dtype: int64

In [ ]:
#creating a series with dictionary
dict = {'lili':'teacher','mala':'student',"laptop":'notes'} #datatype =object
pd.Series(dict) #dict is object
#here coverting a dict into series with the help of pandas

lili      teacher
mala      student
laptop      notes
dtype: object

In [ ]:
dict = {"titi":100,"mia":90.78,'dodo':100}
pd.Series(dict) #datatype = integar(if all the values is integar)
# but it will show float if one of them is float or all of them is float

titi    100.00
mia      90.78
dodo    100.00
dtype: float64

In [ ]:
a = None
if(a is not None):
  print(false)
else:
  print(True)
print(not a)
#bool(None)- false
#not None - true

True
True

**\INDEXES**

> PANDAS USE INDEX TO FOR EASY SEARCHING (SIMILAR TO DICTIONARY OR HASHING)

In [ ]:
import pandas as pd
ser1 = pd.Series([1,2,3,4], index=['shivam','singh','charles','potter'])
print(ser1['charles'])
print()

3

**ACCESSING ELEMENTS**

In [ ]:
ser1 = pd.Series(['s','h','i','v','a','m'])
ser1

0    s
1    h
2    i
3    v
4    a
5    m
dtype: object

In [ ]:
ser1[2]

'i'

In [ ]:
ser1[0:4] #slicing

0    s
1    h
2    i
3    v
dtype: object

In [ ]:
ser1.values #value is an attribute and not a function

array(['s', 'h', 'i', 'v', 'a', 'm'], dtype=object)

In [ ]:
ser2 = pd.Series(['god','is','good','and','great'],[1,2,3,4,5])
ser2

1      god
2       is
3     good
4      and
5    great
dtype: object

In [ ]:
ser2[:3]

1     god
2      is
3    good
dtype: object

In [ ]:
ser2.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

In [ ]:
ser2.values #to find out the values in the object

array(['god', 'is', 'good', 'and', 'great'], dtype=object)

In [ ]:
ser3 = pd.Series(['kol','devina','lorenzo','clearice','tom','cole','klaues'])
ser3
ser3.index
ser3.values

array(['kol', 'devina', 'lorenzo', 'clearice', 'tom', 'cole', 'klaues'],
      dtype=object)

In [ ]:
ser3.drop(0,inplace=True)
ser3

1      devina
2     lorenzo
3    clearice
4         tom
5        cole
6      klaues
dtype: object

In [ ]:
ser3.drop(3, inplace=True)
ser3

1     devina
2    lorenzo
4        tom
5       cole
6     klaues
dtype: object

In [ ]:
ser3[3] = 'nick'
ser3

1     devina
2    lorenzo
4        tom
5       cole
6     klaues
3       nick
dtype: object

**DATAFRMAES**

> included in pandas
row measures
column data for the variable under study

2D data
Data frames consists of