<a href="https://colab.research.google.com/github/Diptyregar456/Python/blob/main/DATA_FRAMES_WITH_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATAFRAMES**

> included in pandas
row - measure
column - data for the variable under study

In [ ]:
import pandas as pd
df = pd.DataFrame([[4,9]] *3, columns=['A','B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [ ]:
import numpy as np
df.apply(np.sqrt) #np is here for array

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [ ]:
df.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [ ]:
df.apply(lambda row: [row['A'], row['B']], axis= 1)

0    [4, 9]
1    [4, 9]
2    [4, 9]
dtype: object

**DATAFRAMES**

> DATA (ROW)
COLUMN
INDEX

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[11,12,13],[14,15,16],[17,18,19]])
df

    0   1   2
0  11  12  13
1  14  15  16
2  17  18  19

In [ ]:
df.shape

(3, 3)

In [ ]:
df.index

RangeIndex(start=0, stop=3, step=1)

**TO ACCESS SPECIFIC COLUMNS WE USE AND ILOC**

In [ ]:
df.loc[1] #to get specific column from the data we use loc and iloc
# gives the values of the row corresponding to the specified index

0    14
1    15
2    16
Name: 1, dtype: int64

In [ ]:
type(df.loc[1])

pandas.core.series.Series

**FOR MULTIPLE ROWS**

In [ ]:
df.loc[[0,2]] #note: only square brackets for 2D, use 2 square brackets

    0   1   2
0  11  12  13
2  17  18  19

In [ ]:
#select rows and column
df.loc[1,0]

14

In [ ]:
#selecting multile row/column
df1 = pd.DataFrame([['a','b','c','d','e'],['aa','bb','cc','dd','ee'],['aaa','bbb','ccc','ddd','eee']])
df1

     0    1    2    3    4
0    a    b    c    d    e
1   aa   bb   cc   dd   ee
2  aaa  bbb  ccc  ddd  eee

In [ ]:
df1.loc[[1,2],[0,2]] #selecting rows and column

     0    2
1   aa   cc
2  aaa  ccc

In [ ]:
df2 = pd.DataFrame(np.random.rand(5,4))
df2

          0         1         2         3
0  0.758699  0.041506  0.391660  0.137082
1  0.108422  0.567971  0.930437  0.615423
2  0.142351  0.981636  0.251344  0.435951
3  0.540379  0.144713  0.311202  0.837412
4  0.875141  0.312595  0.764236  0.324270

In [ ]:
list = [1]
list2 = [2] #['2']
list>list2 #error ['1'] this is int

In [ ]:
'''why pandas
-powerful data structure -fast and efficient data wrangling item.
-data aggregation and transfromation
-easy input and output data with writing to files and reading from files
-list item
- one dimentional data frame'''

'why pandas\n-powerful data structure -fast and efficient data wrangling item.\n-data aggregation and transfromation\n-easy input and output data with writing to files and reading from files\n-list item\n- one dimentional data frame'

In [ ]:
import pandas as pd
import numpy as np
list = [1,2,3,4,5]
series = pd.Series(list)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
ind = [1,2,3,4,5] #creating series from numpy we use index and array
arr = np.array(list)
pd.Series(data=arr,index=ind)

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [ ]:
#creating series with dictionary
dict = {'shiv':"teacher",'mum':"teacher",'laptop':'notes'}
pd.Series(dict)

shiv      teacher
mum       teacher
laptop      notes
dtype: object

In [ ]:
dict = {'shiv':100,"lili":200} #int value
pd.Series(dict)

shiv    100
lili    200
dtype: int64

In [ ]:
#float values
dict = {'shiv':98.55,'nil':22}
pd.Series(dict)

shiv    98.55
nil     22.00
dtype: float64

In [ ]:
#pandas use indexs for eaasy searching(similar to dictionary or hashing)
ser_1 = pd.Series([1,2,3,4], index=['shiv','singh','charles','potter'])
print(ser_1['charles'])

3

In [ ]:
series = pd.Series([1,2,3,4],index = ['a','a','b','b'])
print(series)
print(series['a'])

a    1
a    2
b    3
b    4
dtype: int64
a    1
a    2
dtype: int64

In [ ]:
#accessing elements
import pandas as pd
series = pd.Series(['f','u','c','k','i','n','g','he','ll'],index=['a','b','c','d','e','f','g','h','i'])
series

a     f
b     u
c     c
d     k
e     i
f     n
g     g
h    he
i    ll
dtype: object

In [ ]:
series[2]

'c'

In [ ]:
series[:8]

0     f
1     u
2     c
3     k
4     i
5     n
6     g
7    he
dtype: object

In [ ]:
series.values

array(['f', 'u', 'c', 'k', 'i', 'n', 'g', 'he', 'll'], dtype=object)

In [ ]:
import pandas as pd
serr1 = pd.Series(['god','is','just','a','tiny','light','inside','us'], index=['a','b','c','d','e','f','g','h'])
serr1

a       god
b        is
c      just
d         a
e      tiny
f     light
g    inside
h        us
dtype: object

In [ ]:
serr1.values

array(['god', 'is', 'just', 'a', 'tiny', 'light', 'inside', 'us'],
      dtype=object)

In [ ]:
serr1.shape

(8,)

In [ ]:
serr1.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')

**DATA FRAMES


> DATA
INDEX
COLUMN

---
2D DATAFRAME

**CREATING DATA FRAME

```


>PANDAS
NUMPY


```

In [ ]:
#creating dataframes
import pandas as pd
import numpy as np
df = pd.DataFrame([[11,12,13],[14,15,16],[17,18,19]])
df

    0   1   2
0  11  12  13
1  14  15  16
2  17  18  19

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[11,12,13],[14,15,16],[181,15,20]])
df

     0   1   2
0   11  12  13
1   14  15  16
2  181  15  20

In [ ]:
df.shape

(3, 3)

In [ ]:
df.values

array([[ 11,  12,  13],
       [ 14,  15,  16],
       [181,  15,  20]])

In [ ]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
#to get specific columns we use loc and iloc
df.loc[1]

0    14
1    15
2    16
Name: 1, dtype: int64

In [ ]:
type(df.loc[1])

pandas.core.series.Series

In [ ]:
df.iloc[1]

0    14
1    15
2    16
Name: 1, dtype: int64

In [ ]:
df.loc[1:3]

     0   1   2
1   14  15  16
2  181  15  20

In [ ]:
df.loc[0,2] #selecting rows and columns

13

In [ ]:
#selecting multiple row/column
df1 = pd.DataFrame([['a','b','c','d','e'],['aa','bb','cc','dd','ee'],['aa
'bbb','ccc','ddd','eee']])
df1

SyntaxError: ignored