<a href="https://colab.research.google.com/github/Diptyregar456/Python/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST

```
# list is most powerful and important feature of python.
- list can  store  series of items at one place in a particular way.
-- particular way means its oerdered way.
-- []
-- can store few items or million of items at one time.
-- mutable--(can change  and modifiED)
-- also canbe perfromes other operations like +,-,*,/ and other too.
-- it allows duplicate values.
-- use , to separate other  items or individual items from each other.
-- always use plural form of list so it can makecode easier.
-- enumerate is also a builtin ttype cn  be use with list.



```

**

**DEFINING A LIST

```
#-- use[]
  -- commas(,)
  -- use plural form.
```

**

**MAKING A LIST**

In [ ]:
users = []   #empty list
users

[]

In [ ]:
users1 = ['mia','tia','lili','lolo']  #string list (charcter items)
users1

['mia', 'tia', 'lili', 'lolo']

In [ ]:
users3 = [1,2,3,4,5.0,7.1] #numbers list
users3

[1, 2, 3, 4, 5.0, 7.1]

In [ ]:
users4 = [1,2,3,4.0,7.1,'1','lili','a','Diipty regar']
users4

[1, 2, 3, 4.0, 7.1, '1', 'lili', 'a', 'Diipty regar']

**ACCESSING THE ELEMENTS

```
# INDIVIDUAL ELEMENT IN LIST CAN BE ACCESSABLE ACCORDING TO their position, called  the indexing.
```

**

In [ ]:
import random
print(users1)
print(users4)
print(users3)
users1.append('tintin')
users1.append('chinchin')
print(users1)

['mia', 'tia', 'lili', 'lolo', 'tintin', 'chinchin', 'tintin', 'chinchin', 'tintin', 'chinchin']
[1, 2, 3, 4.0, 7.1, '1', 'lili', 'a', 'Diipty regar']
[1, 2, 3, 4, 5.0, 7.1]
['mia', 'tia', 'lili', 'lolo', 'tintin', 'chinchin', 'tintin', 'chinchin', 'tintin', 'chinchin', 'tintin', 'chinchin']

In [ ]:
import random
users1 = [1,2,3,4,5]
users2 = ['l','lili','chinchin','titi','lili']
users3 = ['a','b','c','d','e']
#random.choices(users2,users3)

TypeError: ignored

** for choices population and type  of data needs to be same

```
-- list,  list(poplation, typeofdata)
-- tuple, list (population, type of data)
```

**

In [ ]:
import random
users = [1,2,3,4,5]
users1 = [7,8,9,10,11]
users2 = [11,12,13,13,14]
random.choices(users, users1)

[2]

In [ ]:
random.random() #(0.0 o 0.1]

0.4590705363850257

In [ ]:
random.choice(users1)

8

In [ ]:
import random
li = ['a','b','c']
l2 = ['e','f','g']
l3 = ['h','lili','tili']
random.choice(li)

'a'

**ACCESSING INDIVIDUAL ELEMENTS**

```
# BY INDEXING (POSITIVE AND NEGATIVE)
```

In [ ]:
users = ['lili','mia','tia','lolo','momo','toto']
first_user = users[0]
second_user = users[1]
third_user =users[2]
last_user = users[-1]
second_last = users[-2]
print(first_user)
print(second_user)
print(third_user)
print(last_user)
print(second_user)
print(users[3])
print(users[-3])

lili
mia
tia
toto
mia
lolo
lolo

**modifying individual items
by their position number  orindex number

In [ ]:
users = ['lili','mia','tia','lolo','momo','toto']
print(users)
users[0]= 'ven'
users[-3]= 'tintin'
print(users)

['lili', 'mia', 'tia', 'lolo', 'momo', 'toto']
['ven', 'mia', 'tia', 'tintin', 'momo', 'toto']

**Range

```
by default it starts with 0 and one less then you passed it in range
```

**

In [ ]:
#print numbers 26
for numbers in range(27):
  print(numbers)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [ ]:
import random
#for numbers in range(23,28):
#  print(numbers)
random.randrange(23,28) #28 would not print
random.randint(23,28) #28 will print too.
numbers = list(range(1,12))# it will print a list of range from 1 to 11
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
#li = list(range('a','d'))  str obj. cant be interpreted as integer
#print(l1)
#for n in range(2.3): range function wors only integer. and random() it works for float. 
# print(n)
import random
n = [0.0,0.2,0.3,0.4,0.6,0.7]
print(n)
for numbers in n:
  print(numbers)
random.choice(n)

[0.0, 0.2, 0.3, 0.4, 0.6, 0.7]
0.0
0.2
0.3
0.4
0.6
0.7

0.4

**Simple statistics

```
#find the miminum value in the list
```

**

In [ ]:
n = [2,3,6,0.1,0.001,00.4,2.6,7.2,-0.0000001]
print(n)
print(min(n))
print(max(n))
print(sum(n))

[2, 3, 6, 0.1, 0.001, 0.4, 2.6, 7.2, -1e-07]
-1e-07
7.2
21.300999899999997