<a href="https://colab.research.google.com/github/Diptyregar456/Python/blob/main/Python_basices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**String**

```
# String is a series of  charactors or data stored as text.
```

In [ ]:
my_string = "Hello"
print(my_string)

Hello

**String Operations**

**Return String with all uppercase**

In [ ]:
my_string.upper()

'HELLO'

**Return String with small or lower case**

In [ ]:
my_string.lower()

'hello'

**Return the length of a String**

In [ ]:
len(my_string) #len is math function

5

**Return the index of the first instance of the string inside the subject string otherwise -1**

In [ ]:
my_string.find('l')

2

**Replaces any instance of the first string with the second in my_string**

In [ ]:
my_string.replace('H','c')

'cello'

**Integer** - A whole number

In [ ]:
my_integer = 12331

**Float** - A decimal number

In [ ]:
my_decimal = 3.14

**Boolean** - Discrete value true or false

In [ ]:
a = True #1
b = False #0

**Dictionary** - Its changable connection of key-value pairs

In [ ]:
my_dictionary = {'banana':1, 12:'laptop',(0,0): "center"}
print(my_dictionary)

{'banana': 1, 12: 'laptop', (0, 0): 'center'}

**Dictionary's Operation**  - Its mutable or changeable collection of key-value pair

**Access value using key**

In [ ]:
#my_dictionary[1] keyerror : 1
my_dictionary['banana']

1

**Get all keys in a dictionary as a list**

In [ ]:
my_dictionary.keys()

dict_keys(['banana', 12, (0, 0)])

**Get all values in a dictionary as a list**

In [ ]:
my_dictionary.values()

dict_values([1, 'laptop', 'center'])

**Tuple** -- Unchangeable collection of objects

In [ ]:
tuple = (1,3.12,False,'hi')
print(tuple)

(1, 3.12, False, 'hi')

**List** :-- Changeable Collection of objects

In [ ]:
my_collection = [1,3.12,False, True, 'hi']
my_collection

[1, 3.12, False, True, 'hi']

**List Operation** :--

**Returns the length of a list**

In [ ]:
len(my_collection)

5

**Add multiple items to a list**

In [ ]:
my_collection.extend(['hi','Dipty Regar', 'More','Items'])
print(my_collection)

[1, 3.12, False, True, 'hi', 'hi', 'Dipty Regar', 'More', 'Items']

**Add single item to list**

In [ ]:
my_collection.count(3.12) #it will count  the particular item in the list
#and its a method
my_collection.append('single')
print(my_collection)

[1, 3.12, False, True, 'hi', 'hi', 'Dipty Regar', 'More', 'Items', 'single', 'single']

**Delete the object of a list at specified index**

In [ ]:
del(my_collection[2])
print(my_collection)

[1, 3.12, True, 'hi', 'hi', 'Dipty Regar', 'More', 'Items', 'single', 'single']

**Clone a list**

In [ ]:
Clone = my_collection[:]
print(Clone)

[1, 3.12, True, 'hi', 'hi', 'Dipty Regar', 'More', 'Items', 'single', 'single']

**Concatenate two lists**

In [ ]:
my_collection1 = my_collection + Clone
print(my_collection1)

[1, 3.12, True, 'hi', 'hi', 'Dipty Regar', 'More', 'Items', 'single', 'single', 1, 3.12, True, 'hi', 'hi', 'Dipty Regar', 'More', 'Items', 'single', 'single']

**Calculate the sum of a list of ints or flots**

In [ ]:
number_collection = [1,2,3,4,5]
sum(number_collection)
#sum(my_collection1) #unsupported operand type - float + str + ints not possible

15

**Check if we changge the original what happens with clone one**

In [ ]:
#print(my_collection)
#my_collection.extend(['2','hi','hi'])
#print(my_collection)
#del(my_collection[2])
Clone = my_collection[:]
print(Clone)
print(my_collection)
#my_collection.append('single')
print(my_collection)
print(Clone)
Clone.append('nomore')
print(Clone)
print(my_collection)
''' so if  change  anything in original  then copywill  also changebut if  change anything in copy then it wont affect the original  one'''

[1, 'hi', 'more', 'single', 'single']
[1, 'hi', 'more', 'single', 'single']
[1, 'hi', 'more', 'single', 'single']
[1, 'hi', 'more', 'single', 'single']
[1, 'hi', 'more', 'single', 'single', 'nomore']
[1, 'hi', 'more', 'single', 'single']

**Check if an item isin a list,return boolean item.(mebership Operator)**

In [ ]:
'hi' in my_collection 
3.12 in my_collection
#if not
3.12 not in my_collection

True

**Tuples and Lists allows duplicate items. its Unchangeable and  Changeable collection of objects.
Dictionary is Changeable  collection  of key_value pairs(ordered)(Does not allow Duplicate value).
But Set is (Unordered) collection of unique objects(Does not  allow Duplicate)andits changeable.mutable**

In [ ]:
my_dictionary = {'hi':'Dipty',2: 'three', 1 : 'two', 2 :'three'}
print(my_dictionary)

{'hi': 'Dipty', 2: 'three', 1: 'two'}

In [ ]:
a = []
a.append(1)
print(a)
b = a[:]
print(b)
print(a)
print(b)

[1]
[1]
[1]
[1]

**Shallow copy vs Deep copy python**

In [ ]:
## = , copy(),deepcopy()
lst1=[1,2,3,4]
lst = lst1
lst1,lst
lst2 = lst1[:]
lst2,lst1

([1, 2, 3, 4], [1, 2, 3, 4])

In [ ]:
lst = [4,2,3.3,2]
lst1 = lst
print(lst1)

[4, 2, 3.3]

In [ ]:
# = operation
lst1 = [1,2,3,4,5]
lst = lst1
lst,lst1

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [ ]:
lst[0:3]

[1, 2, 3]

In [ ]:
lst[1] = 1000
lst,lst1 #Both the  variable are  acually refeering to the same memory location.
#if one of the variable changes the elment then it will also get 
#refelcted in the memory locationS
#they bothare referring to the same  memory location.

([1, 1000, 3, 4, 5], [1, 1000, 3, 4, 5])

In [ ]:
#copy operation
##its also called the  shallowcopy operation
#In shallow copy we  have to use copy operation(method)
lst1 = [1,2,3,4]
lst2 = lst1.copy()
lst2
lst2[2]=1000
lst2,lst1
#this are reffering to diffenrent memory location

([1, 2, 1000, 4], [1, 2, 3, 4])

In [ ]:
#shallow copy with nested list(multiple list-Nested list)
lst1 = [[1,2,3,4],[5,6,7,8]]
lst2 = lst1.copy()
lst1,lst2

([[1, 2, 3, 4], [5, 6, 7, 8]], [[1, 2, 3, 4], [5, 6, 7, 8]])

In [ ]:
lst1[0][1] = 100
print(lst1,  lst2)#here this list has 2 items and every itemsh 4 objects which are reffering to  the  same memory  location
#item  will  not getcopied  but if youare making the  changes  on  the object which are present  in side the  item  will gonna change
lst1.append([1,2,3,4])
print(lst1)
print(lst2)

[[1, 100, 3, 4], [5, 6, 7, 8], [1, 2, 3, 4], [1, 2, 3, 4]] [[1, 100, 3, 4], [5, 6, 7, 8]]
[[1, 100, 3, 4], [5, 6, 7, 8], [1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 100, 3, 4], [5, 6, 7, 8]]

In [ ]:
#collection of items = [1,2,3,4]
#objects presentin the  items are = 1,2,3,4

In [ ]:
#Deep Copy
import copy
lst1 = [1,2,3,4]
lst2 = copy.deepcopy(lst1)
print(lst2)
lst2[1]=1000
print(lst2)
print(lst1)
# In a normal list shallow copyis equalto deepcopy

[1, 2, 3, 4]
[1, 1000, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
lst1 = [[1,2,3,4],[2,3,4,5],[6,7,8,9]]
lst2 = copy.deepcopy(lst1)
print(lst2)
lst2[1][2]=1000
print(lst2)
print(lst1)
#in deepcopy every item and  objects in item having separate memory location

[[1, 2, 3, 4], [2, 3, 4, 5], [6, 7, 8, 9]]
[[1, 2, 3, 4], [2, 3, 1000, 5], [6, 7, 8, 9]]
[[1, 2, 3, 4], [2, 3, 4, 5], [6, 7, 8, 9]]

In [ ]:
lst_1 = [1, 2, 3]
lst_2 = [x*2 for x in lst_1 if x % 2 == 0]
lst_2

[4]