<a href="https://colab.research.google.com/github/Diptyregar456/Python/blob/main/Python_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Simple Program**

In [ ]:
print('hello, new world my name is Dipty regar')

/nhello, new world my name is Dipty regar

**Checking the latest version of Python**

In [ ]:
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

**Data Types**

In [ ]:
a=11 #integer
b = 11.2 #real number or float
c = 'this isme' #string- number of characters
d = True #bolean
print(a)
print(b)
print(c)
print(d)

11
11.2
this isme
True

**variable**

```
container to store data values. In python there no syntax of declaration. It created when it assignthe value.
```

**

**How to receiving input from user #getting input**

In [ ]:
name = input('What is your name? ')
print('Hi ' + name)

What is your name? Dipty regar
Hi Dipty regar

**Q1: persons name and favourite colorthen print a messagges like 'Mosh Likes Blue'**

In [ ]:
name = input('What is your name? ')
favourite_color = input('What is your favourite color? ')
print('Hi ' + name)
print('and ' + favourite_color + ' is your fvuorite color ')

What is your name? Dipty regar
What is your favourite color? green
Hi Dipty regar
and green is your fvuorite color

**Q2: print a message Dipty likes green**

In [ ]:
print(name + ' loves ' + favourite_color)

Dipty regar loves green

**Type Conversion: Q1 : calculate your age**

In [ ]:
birth_year = input(' What is your birth year? ') #birth_year is string: what ever we pass through singleor doublequote is string even if number.
age = 2022 - int(birth_year)
print(age)

 What is your birth year? 1996
26

**what is the type of birth_year and age**

In [ ]:
print(type(birth_year))  #the input function  is  always going to return value is in string.
print(type(age))

<class 'str'>
<class 'int'>

**Q2: Ask a user their weight(in pounds), convert it to kilograms and print on the terminal?**

In [ ]:
weight_lbs = input(' What is your weight(lbs)? ')
weight_kg = 0.45 * float(weight_lbs)
print(weight_kg)
print(type(weight_lbs))
print(type(weight_kg))

 What is your weight(lbs)? 115
51.75
<class 'str'>
<class 'float'>

**String : single string**

In [ ]:
course = "Python's for beginners"
print(course)
course = 'Python is for "beginners"'
print(course)

Python's for beginners
Python is for "beginners"

**Multiple line string : """......""", '''----'''**

In [ ]:
course = """
Hi Team,
I have doughts that I want to clear out before proceeding with my application.
could you please give me a call..
I hope to hear from you soon.
Regards,
Dipty Regar"""
print(course)

Hi Team,
I have doughts that I want to clear out before proceeding with my application.
could you please give me a call..
I hope to hear from you soon.
Regards,
Dipty Regar

**Indexing: single line string**

In [ ]:
# Print the 1st letter of string
course = 'Python for beginners'
#positive indexing 
print(course[0]) 

#negative indexing
print(course[-6]) 

#range (n, n-1), positvie range
print(course[0:5])

#range (n, n-1), negative indexing range
print(course[0:-6])
print(course[-5:-1])

#full indexing
print(course[:])
print(course[0:])
print(course[2:])
print(course[:9])

name = 'Jennifer'
print(name[1:-1])

P
i
Pytho
Python for beg
nner
Python for beginners
Python for beginners
thon for beginners
Python fo
ennife

**Formatted Strings : f '  ' (f string)**

In [ ]:
# Print Dipty [Regar] is a coder 
#Performing arithmetic Operation (concatenatination)
first = 'Dipty'
last = 'Regar'
message = first + ' [' + last +'] is a coder'
# with f string we can easily visualize what the output looks like
msg = f'{first} [{last}] is a coder'
# curly braces holds value and easy to make statement. 2 placeholder
print(message)
print(msg)

Dipty [Regar] is a coder
Dipty [Regar] is a coder

# **String Methods :  String is immutable we cant change or update the string but we can perform operation on it. 

Method â‰
upper()
lower()
find()
replace()
in operator (existence operator
title()**

In [ ]:
course = 'Python For Beginners'
#count the number of string
print(len(course)) #lenis function and course is argumentwe passing into function parenthesis.
#using this method we can enforce a limit of number of chracters inany input field.
# len we will use in list and tuple so it is general purpose function.
# whatever we use as (.) is called method.
#Example: Change this string into UPPER CASE
one = course.upper()
# here if change anything  in original the copy will be affeted.
#but if do anyhing in copy, original wontbe affeted.
print(one) #new string has been created
print(course) #the original

#Example :  Change this string into lower case
print(course.lower())

#find anything in string
print(course.find('n'))
print(course.find('b'))
print(course.find('ner'))

#replace something
print(course.replace('Beginners' , 'Absolute Beginner'))

#existance Operator (in) {boolean expression}, Expression:- Piece of code
print('Python' in course)
print('python' in course)

#title 
print(course.title())

20
PYTHON FOR BEGINNERS
Python For Beginners
python for beginners
5
-1
16
Python For Absolute Beginner
True
False
Python For Beginners

**Arithmetic Operator**

In [ ]:
print(10*3)
print(10+3)
print(10-3)
print(10/3)
print(10//3)
print(10%3)
print(10**3)

30
13
7
3.3333333333333335
3
1
1000

**Augmented , Assigment Operator**
+={augmented assignment operator},
-= {augmented assignment operator}

In [ ]:
#increment operator
x = 10
x = x+3
#Shorter form
x += 3
print(x)
x -= 3
print(x)

16
13

In [ ]:
v=8 > 3 and 8 > 9
print(v)
x='hello' == 'hello'
print(x)

False
True

**Operator Precedence(Priority)**
paranthesis (),
Exponentiation 2**3,
multiplication or division,
addition or subtration,

In [ ]:
x = 10 + 3 * 2
print(x)
x = 10 +3*2**2
print(x)

x = (2+3)*10-3**2
print(x)

16
22
41

**Math Functions**

In [ ]:
# Round Function
x = 2.7
print(round(x))

# ABS :- Absolute Function : it always return a positive number.
print(abs(-2.7))
print(abs(2.7))

3
2.7
2.7

In [ ]:
# If you are doing complex methematical calculation you need to import module
#Module :- it contains bunch of mathematcal function 0r methods that are specific to math module
import math
print(math.ceil(2.9))
print(math.floor(2.9))
print(math.factorial(2)) #fec. only accepts inegral value
#f = [3,3.4,4.6]
print(math.fsum([3,3.4,4.6]))
#iterables only used in tuple,list,arrays

3
2
2
11.0

**Decision Making :**
If statment
# if its hot, 
its hot day,
drink plenty ofwater,
otherwise if its cold,
its a cold day,
waer warm clothes,
otherwise,
its a lovely day,

In [ ]:
is_hot = False
if is_hot:
  print("it's hot day")
  print('drink water')
else:
  print("it's cold day")
  print('wear warm clothes')
print("it's lovely day")

it's cold day
wear warm clothes
it's lovely day

In [ ]:
#elif statment
is_hot = False
is_cold = False
if is_hot:
  print("it's hot day")
  print('drink water')
elif is_cold:
  print("it's cold day")
  print("wear warm cloths")
else:
  print("it's lovely day")
print("emjoy your day")

it's lovely day
emjoy your day

In [ ]:
'''price of a house is $1m,
if buyer has good credit,
they need to put down 10%
otherwise 
they need to put down 20%
print the down payment'''
price = 1000000
has_good_credit = False
if has_good_credit:
  down_payment = 0.1 * price
  print(down_payment)
else:
  down_payment = 0.2 * price
  print(down_payment)
print(f"Down payment:, ${down_payment}")

200000.0
Down payment:, $200000.0

In [ ]:
price = 1000000
has_good_credit = True
if has_good_credit:
  down_payment = 0.1*price
  print(down_payment)
else:
  down_payment = 0.2*price
  print(down_payment)
print(f'Down payment:,${down_payment}')

100000.0
Down payment:,$100000.0

**Logical Operator**

In [ ]:
'cat'!= 'dog'
8 > 3 and 8 > 9
'hello' == 'hello' or 'cat' == 'dog'
a=8 < 4
print(a)
b=8 != 4
print(b)
c=8 != 8
print(c)
d=8 >= 2
print(d)
e=8 <= 2
print(e)
f='hello' == 'hello'
print(f)

True

In [ ]:
def foo(a=4):
  a=5
  print(a)
foo(6)

5

In [ ]:
x=(2+3)*10-3
print(x) 

a = 10
b = 0
#print(d) NameError : d is not defined
#c = a/b  ZeroDivisionError : division byzero

a = [1,4,5,7]
a.pop(2)
print(a)

47
[1, 4, 7]

In [ ]:
a=5,4
list(a) #int object is not iterable

[5, 4]