<a href="https://colab.research.google.com/github/Diptyregar456/Python/blob/main/Questionss.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def testgun(index):
  weekdays = ['s','m','t','w','t','f']
  yield weekdays[index]
  yield weekdasys[index+1]
  day = testgun(0)
  next(day),next(day)

In [ ]:
list = ['a','b','c','d','e']  #converting a list into string.

print(''.join(list))

abcde

In [ ]:
#converting a list into tuple
list = ['a','b','c','d','e']
print(tuple(list))

('a', 'b', 'c', 'd', 'e')

In [ ]:
#converting list into set
list = ['a','b','c','d','e']
print(set(list))

{'d', 'c', 'e', 'b', 'a'}

In [ ]:
import array
a = [1,2,3]
print(a[-3])
print(a[-2])
print(a[-1])
lin= ['a','b','c','d','e']
print(lin[-1][-1])

1
2
3
e