<a href="https://colab.research.google.com/github/Diptyregar456/Python/blob/main/swapping_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#swapping two numbers or more numbers
a, b = 3,4
a,b = b, a
print(a,b) # print("a,b") it means you have to print the output so if you describe double quote then it will print something which is in double quote.
print('a,b')
print(a,b)
#a,b=b,a '''so if you want an output so you have not to put double quote doble quote will be understandble when we want to print the statement or character and so on 
#for in numbers you do not have to put this quotation'''

4 3
a,b
4 3

In [ ]:
#other example of swapping numbers:-
a=2
b=3
a,b = b,a
print(a,b)
print(b,a)
c=4
a,b,c=b,a,c
print(a,b,c)
print(b,a,c)

3 2
2 3
2 3 4
3 2 4

Indentation
Variables
Data types
numbers
comments

In [ ]:
a=3
b=2
c=1
d=3
#a,b,c=1
#a,b,c,d=b,a  '''value error (not enough values to unpack [expected 4, got 2])
a,b,c,d=b,d,a,c
print(a,b,c,d)
print(b,a)
print(c,a)
print(c,d)
print(a,d)
print(a,c)
print(a,b)

2 3 3 1
3 2
3 2
3 1
2 1
2 3
2 3